{% extends '::base.html.twig' %}
{% block body %}
<h1>{{ entity.title }}</h1>
        <a class="btn" href="{{ path('blog') }}">
            Back to the list
        </a>
<br /><br />
<table class="record_properties">
    <tbody>

        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Blog</th>
            <td>{{ entity.blog }}</td>
        </tr>
        <tr>
            <th>Published</th>
            <td>{{ entity.published? 'Yes': 'No' }}</td>
        </tr>
        
    </tbody>
</table>

<div class="btn-group">
        <a class="btn" href="{{ path('blog_edit', { 'id': entity.id }) }}">
            Edit
        </a>

    
        <form action="{{ path('blog_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn" type="submit">Delete</button>
        </form>
    
</div>
{% endblock %}