{% for comment in entities %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <header>
            <p><span class="highlight">{{ comment.name }}</span> commented <time datetime="{{ comment.getCreatedAt|date('c') }}">{{ blog.getCreatedAt|date('l, F j, Y') }}
</time></p>
        </header>
        <p>{{ comment.comment | raw}}</p>
    </article>
{% else %}
    <p>There are no comments for this post. Be the first to comment...</p>
{% endfor %}


