{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ blog.getCreatedAt|date('c') }}">{{ blog.getCreatedAt|date('l, F j, Y') }}</time></div>
            <h2>{{ blog.title }}</h2>
        </header>
        
        <div>
            <p>{{ blog.blog | raw}}</p>
        </div>
    </article>
    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
            {% include 'SriniBlogBundle:Comment:index.html.twig' with { 'entities': comments } %}
            <h3>Add Comment</h3>
            {% render 'SriniBlogBundle:Comment:new' with { 'blog_id': blog.id } %}
        </section>
    </section>
{% endblock %}
