<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <meta charset="UTF-8" />
        <title>{% block title %}Srinivasan Kumar !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
   <body>
       
       <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ path('_welcome') }}">SRINIVASANK.COM</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{{ app.request.get('_route') == '_welcome'?'active':'' }}"><a href="{{ path('_welcome') }}">Home</a></li>
              <li class="{{ app.request.get('_route') == 'srini_front_about'?'active':'' }}"><a href="{{ path('srini_front_about') }}">About</a></li>
              <li class="{{ app.request.get('_route') == '_contact'?'active':'' }}"><a href="{{ path('_contact') }}">Contact</a></li>
              <li class="{{ app.request.get('_route') == 'srini_front_blog'?'active':'' }}"><a href="{{ path('srini_front_blog') }}">Blog</a></li>
              <li class="{{ app.request.get('_route') == 'job'?'active':'' }}"><a href="{{ path('job') }}">Jobeet</a></li>
              {% if is_granted("IS_AUTHENTICATED_FULLY") %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">JOBEET ADMIN</li>
                  <li><a href="{{ path('job') }}">Job</a></li>
                  <li><a href="{{ path('category') }}">Job Category</a></li>
                  
                  
                  <li class="divider"></li>
                  <li class="nav-header">BLOG</li>
                  <li><a href="{{ path('blog') }}">Blog</a></li>
                  <li><a href="{{ path('admin_category') }}">Blog Category</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                </ul>
              </li>
              
              {% else %}
              <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                {% endif %}
              
            </ul>
                 
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
           <div class="container">
        {% block body %}{% endblock %}
                   {% block fos_user_content %}
            {% endblock fos_user_content %}
                   </div>
           <div class="navbar navbar-inverse navbar-fixed-bottom">
               <div class="navbar-inner">
                   <div class="container" style="text-align: center">
                       Created by <ul class="nav"><li><a href="{{ path('_welcome') }}" class="active">Srinivasan Kumar</a></li></ul>
                   </div>
               </div>
           </div>
           
            
           <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>
        {% block javascripts %}
{% endblock %}
    </body>
</html>