{% extends '::base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/srinijobeet/css/job.css') }}" type="text/css" media="all" />
{% endblock %}
{% block body %}
    {% if app.request.get('token') %}
    {% include 'SriniJobeetBundle:Job:admin.html.twig' with {'job': entity} %}
  {% endif %}
    <div id="">
      <h4>{{ entity.company }}</h4>
      <h5>{{ entity.location }}</h5>
      <h6>
        {{ entity.position }}
        <small> - {{ entity.type }}</small>
      </h6>
 
      {% if entity.logo %}
        <div class="logo">
          <a href="{{ entity.url }}">
            <img src="/uploads/jobs/{{ entity.logo }}"
              alt="{{ entity.company }} logo" />
          </a>
        </div>
      {% endif %}
 
      <div class="description">
        {{ entity.description|nl2br }}
      </div>
 
      <h4>How to apply?</h4>
 
      <p class="how_to_apply">{{ entity.howtoapply }}</p>
 
      <div class="meta">
        <small>posted on {{ entity.createdat|date('m/d/Y') }}</small>
      </div>
 {% if is_granted("IS_AUTHENTICATED_FULLY") %}
      <div style="padding: 20px 0">
        <a href="{{ path('job_edit', { 'token': entity.token }) }}">
          Edit
        </a>
      </div>
      {% endif %}
    </div>
{% endblock %}